<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>user's posts</title>
</head>
<body>
  <main id ="container"> 
  <%= render partial:'users/user', locals:{user: @user} %>
  <%= render @posts.limit(2)%>
  <button id="show-posts">pagination</button>
</main>   
</body>
</html>
