<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>specific post</title>
</head>
<body>
  <main id ="container">
   <%= render partial: "post_information", locals: {post:@post}%>
  </main> 
</body>
</html>