a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: darkorange;
    transform: scale(1.1);
  }
  ul {
    list-style: none;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .user-card {
    display: flex;
    gap: 1em;
    width: 100%;
    height: 10rem;
    margin: 1rem;
  }
  .user-card-photo {
    width: 10em;
    height: 10em;
    border-radius: 100%;
  }
  .user-card-header {
    width: 80%;
    margin-left: 2rem;
  }
  .user-card-username {
    font-size: 2rem;
    font-weight: 800;
  }
  .user-card-postnumber {
    text-align: right;
    font-size: 1.3rem;
  }
  .user-bio {
    margin: 2.3rem;
    font-size: 1.3rem;
    padding: 1rem;
    border: 1px solid black;
  }
  .user-comment {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .post-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .posts-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }
  .bordered-box {
    border: 1px solid black;
    padding: 1rem;
  }
  .post-info {
    text-align: right;
    margin-right: 2.3rem;
    justify-self: right;
  }
  .post-btn {
    align-self: center;
    border: 1px solid;
    box-shadow: 0.3rem 0.5rem;
    text-align: center;
    padding: 10px;
    width: 7rem;
  }
  
  .form-group {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .form-group input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .input-checkbox {
    width: auto !important;
  } 