body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.comment-section {
  width: 51.4vw;
  font-size: 18px;
  border: 2px solid black;
  padding: 1rem;
}

.comment {
  margin-left: 0.25rem;
}

#form {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
}