#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.card {
    width: 40%;
    border: 2px solid black;
    padding: 1.5rem 2rem 1.5rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.card > p {
   align-self: flex-end;
   margin: 0;
   padding-top: 16px;
   font-weight: bold;
}
section {
  width: 100%;
  display: flex;
  gap:  16px;
  justify-content: center;
}
.card > h2 {
  margin: 0 auto 0 auto;
}

.image {
  border: 2px solid black;
  width: 10%;
  height: 14vh;
}